language: node_js
node_js: stable

# S: Build Lifecycle
install:
  - npm install

#before_script:
 # - npm install -g gulp

script:
  - hexo g

after_script:
  - cd ./public
  - git init
  - git config user.name "ajason"
  - git config user.email “ajason0622@gmail.com"
  - git add .
  - git commit -m "Update docs"
  - git push --force --quiet "https://${GH_TOKEN}@${github.com/ajason/ajason.github.io.git}” :hexo
# E: Build LifeCycle

branches:hexo
  only:
    - blog-source
env:
 global:
   - GH_REF: github.com/ajason/ajason.github.io.git
