language: node_js
node_js: stable

before_install:
- npm install -g hexo-cli # 安装 hexo

install:
  - npm install

script:
  - hexo clean
  - hexo g
  - hexo d

after_success:
- git config --global user.name "ajason"
- git config --global user.email "ajason0622@gmail.com"
- hexo deploy

after_script:

# E: Build LifeCycle

branches: hexo
  only:
    - hexo
